.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 50px auto;
  padding: 12px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  overflow-wrap: break-word;
  line-height: 1.4;
  max-width: 650px;
  text-rendering: optimizeLegibility;
}

a[href^="http"]::after {
  content: "↗";
}
