body {
  margin: auto;
  font-family: sans-serif;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background: lightblue;
  line-height: 1.5;
  max-width: 80ch;
}

#logo {
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
  font-family: serif;
}

nav {
  padding: 1em;
}

nav a {
  margin-right: 0.6em;
  color: black;
}

main {
  padding: 0.5em 1em;
  background-color: #fff;
  margin-bottom: 1em;
  border-radius: 10px;
}

ul li {
  margin-bottom: 0.5em;
}

#posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  main{
    border-radius: 0;
  }
}