<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ .Title }}</title>
<link rel="stylesheet" href="/main.css">

{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<link rel="icon" type="image/jpeg" href="/old computer.jpeg">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-37Z4WHLLWZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-37Z4WHLLWZ');
</script>

</head>
<body>
	<main>
		<a href="/">Home</a> ·
		<a href="https://github.com/sanjayvs1" target="_blank">Github</a> ·
		<a href="mailto:datromix@gmail.com">Email</a>
		{{ if not .IsHome }}
		<h1 class="title">{{ .Title }}</h1>
  		{{ end }}
